* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background: linear-gradient(to right(#b3cce2, #D9CCC1));
}

h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;
	text-align: center;
	background-color: #005eb0;
	color: #D9CCC1;

}

h2{
    font-size: 1.5rem;
	background-color: #005eb0;
	color: #D9CCC1;
}

p{
    font-size: 1rem;
	color: #024059;  
}

.citacao{
    font-family: tilt neon;
	line-height: 1.5;
	text-align: justify;
}

.autor{
    text-align: right;
	color: darkslategray;
	font-style: italic;
}

.data{
    text-align: left;
	color: darkslategray;
	font-style: italic;
	font-size: 0.8rem;
}

.elyCita{
   margin-left:90%
}

.strikethrough {
    position: relative;
  }
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }