.produto{
    background-color: #A6142E;
    padding: 30px;
    border-radius: 30px;
    flex-wrap:wrap
   
}

.produto a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

