.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.ProdValores {
    flex-basis: calc(20% - 20px);
    margin: 20px;
    text-align: center;
    background-color: #F23558;
    border-radius: 20px;
    font-size: 18px;
    padding: 40px;
    color: white;
    height: 10%;
    width: 40%;

}


.ProdValores:hover {
    color: antiquewhite;
    background-color: rgb(176, 30, 54);

}



.addProd {
    flex-basis: calc(20% - 20px);
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 80px;
    background-color: #1DB4F2;
    padding: 30px;
    height: 20px;
    position: fixed;
    bottom: 4%;
    right: 2%;
}

@media screen and (max-width: 768px) {
    .bt_marca {
        flex-basis: calc(40% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .bt_marca {
        flex-basis: calc(80% - 20px);
    }
}


.ValorProduto {
    background-color: #A6142E;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 30px;
    text-align: center;
    margin: 5px;
    transition: all 1s ease;
}

.ValorProduto.hovered {
    transform: scale(1.1);
    background-color: #F23558;

}